.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-list {
  text-align: left;
}

.filter {
  margin-bottom: 20px;
}

select {
  padding: 5px 10px;
  margin-left: 10px;
}

.product-items {
  list-style: none;
  padding: 0;
}

.product-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
